/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Poppins:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* All */

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #001122;
}

::-webkit-scrollbar {
    left: 2vh;
    width: 2vh;
}
  
::-webkit-scrollbar-track {
    background: #ffffff00;
    width: 4vh;
}

::-webkit-scrollbar-thumb {
    background: #ffd000;
    border-radius: 1vh;
    margin-block: 2vh;
    border: 0.5vh solid #001122;
    width: 2vh;
}

/* General Text types */

.logo {
    position: relative;
    top: 4%;
    left: 4.5%;
    font-family: "IBM Plex Mono", monospace;
    font-size: 3vh;
    color: #ffffff;
}

.logoImg {
    position: absolute;
    top: 3%;
    left: 1.5%;
    height: 6vh;
}

.header {
    font-family: "Poppins", sans-serif;
    font-size: 8vh;
    color: #ffd000;
    line-height: 12vh;
}

.subHeader {
    font-family: "IBM Plex Mono", monospace;
    font-size: 4vh;
    color: #88eaed;
}

.text {
    color: #ffffff;
    font-family: "IBM Plex Mono", monospace;
}

.colorText {
    color: #88eaed;
    font-family: "IBM Plex Mono", monospace;
}

.darkText {
    color: #001122;
    font-family: "IBM Plex Mono", monospace;
}

b {
    font-size: 2.5vh;
}

.img {
    position: absolute;
    right: 10%;
    height: 40vh;
}

.contentsPage .img {
    top: 60%;
    transform: translateY(-50%);
}

.timelinePage img {
    position: absolute;
    right: 10%;
    height: 40vh;
}

#img1 {
    top: 20%;
}

#img2 {
    top: 50%;
}

#img3 {
    top: 80%;
}

/* Home Page */

.homePage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#homeHeader {
    position: absolute;
    width: 90vh;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}

#homeSubHeader {
    position: absolute;
    top: 20%;
    left: 5%;
}

#homeSubText {
    position: absolute;
    top: 70%;
    left: 5%;
}

#homeText {
    position: absolute;
    top: 60%;
    left: 5%;
    height: 10vh;
    width: 90vh;
    text-align: justify;
}

.box {
    height: 5vh;
    width: 5vh;
    outline: #88eaed solid 0.25vh;
    rotate: 45deg;
}

#box1 {
    z-index: -100;
    position: absolute;
    top: 10%;
    right: -2vh;
}

#box2 {
    z-index: -100;
    position: absolute;
    top: 80%;
    right: 20%;
}

#box3 {
    z-index: -100;
    position: absolute;
    top: 90%;
    right: 70%;
}

.homeImage {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: 60vh;
}

/* Contents Page */

.contentsPage {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.contentsPage .header {
    position: absolute;
    top: 10%;
    left: 5%;
}

.contentList {
    position: absolute;
    top: 25%;
    left: 10%;
    list-style: none;
}

.number {
    display: inline-block;
    background-color: #ffd000;
    text-align: center;
    color: #001122;
    height: auto;
    width: 4vh;
    border-radius: 1vh;
}

.contentList li {
    padding-bottom: 2.5vh;
}

.contentList li span {
    transition: background-color 0.3s;
}


.contentList a:any-link {
    color: #ffffff;
    text-decoration-color: #ffffff00;
    transition: text-decoration-color 0.3s, color 0.3s;
}

.contentList a:any-link:hover {
    color: #88eaed;
    text-decoration-color: #88eaed;
}

.contentList li:hover span {
    background-color: #88eaed;
}

#box4 {
    z-index: -10;
    position: absolute;
    top: 20%;
    right: 10%;
}

#box5 {
    z-index: -10;
    position: absolute;
    top: 80%;
    right: 40%;
}

#box6 {
    z-index: -10;
    position: absolute;
    top: 30%;
    left: -1vh;
}

/* Timeline Page */

.timelinePage {
    position: absolute;
    top: 200%;
    left: 0%;
    height: 300%;
    width: 100%;
}

.timelinePage .header {
    position: absolute;
    top: 3.33%;
    left: 5%;
}

.timeline {
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(-50%);
    background-color: #88eaed;
    height: 95%;
    width: 2vh;
    border-radius: 1vh;
}

.timestamp {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 8vh;
    width: 30vh;
    background-color: #88eaed;
    color: #001122;
    border-radius: 6vh;
    text-align: center;
    padding-top: 2vh;
    display: inline-block;
    margin-bottom: 2.5vh;
}

.timelineBox {
    position: relative;
    width: 70vh;
    border-radius: 4vh;
    text-align: justify;
    margin-bottom: 2vh;
    margin-left: 5vh;
    display: inline-block;
}

.timelineBox ol {
    margin-left: 2rem;
    margin-bottom: 3vh;
}

.timelineBox .subHeader {
    padding-bottom: 2vh;
    color: #ffd000;
}

.timelineBox::-webkit-scrollbar {
    width: 2vh;
    height: 0vh;
}

.timelineBox::-webkit-scrollbar-track {
    background: #ffffff00;
    width: 4vh;
    margin-block: 3vh;
}

.timelineBox::-webkit-scrollbar-thumb {
    background: #001122;
    border-radius: 1vh;
    height: 2vh;
    border: 0.5vh solid #88eaed;
    width: 4vh;
}

.timelineBox .paddedBox {
    padding: 5vh;
    padding-top: 3vh;
}

/* Research Outline */

.outlinePage {
    position: absolute;
    top: 510%;
    left: 0%;
    height: 340%;
    width: 100%;
}

.outlinePage .header {
    position: absolute;
    top: 10%;
    left: 5%;
}

.outlinePage .subHeader, .colorText, ol li {
    margin-bottom: 2vh;
}

.outlinePage .text {
    margin-bottom: 4vh;
}

.outlinePage ol {
    margin-left: 6vh;
}

.outlineContainer {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: justify;
}

/* Responsees Page */

.responsePage {
    position: absolute;
    top: 780%;
    left: 0%;
    height: 300%;
    width: 100%;
    overflow: hidden;
    scrollbar-width: none;
}

.responsePage .header{
    position: absolute;
    top: 2.5%;
    left: 5%;
}

.responseContainer {
    overflow-x: scroll;
    position: absolute;
    width: 100%;
    top: 8%;
    left: 65%;
    transform: translateX(-50%);
}

.responseBox {
    width: 70%;
    height: 60vh;
    background-color: #88eaed;
    border-radius: 4vh;
    text-align: justify;
    overflow: scroll;
    margin-bottom: 10vh;
    margin-right: 10vh;
    display: inline-block;
}

.responseBox .subHeader {
    color: #001122;
    padding-bottom: 2vh;
}

.responseBox::-webkit-scrollbar {
    width: 2vh;
    height: 0vh;
}

.responseBox::-webkit-scrollbar-track {
    background: #ffffff00;
    width: 4vh;
    margin-block: 3vh;
}

.responseBox::-webkit-scrollbar-thumb {
    background: #001122;
    border-radius: 1vh;
    height: 2vh;
    border: 0.5vh solid #88eaed;
    width: 4vh;
}

.responseBox .paddedBox {
    padding: 5vh;
    padding-top: 3vh;
}

#box7 {
    z-index: -10;
    position: absolute;
    top: 30%;
    left: 3%;
}

#box8 {
    z-index: -10;
    position: absolute;
    top: 90%;
    left: 3%;
}

#box9 {
    z-index: -10;
    position: absolute;
    top: 70%;
    right: 10vh;
}

/* Research Pages */

.researchPage1 {
    position: absolute;
    top: 1080%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.researchPage2 {
    position: absolute;
    top: 1180%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.researchContainer .subHeader {
    color: #001122;
}

.researchPage1 .header, .researchPage2 .header {
    position: absolute;
    top: 5%;
    left: 5%;
}

.researchPage1 .subHeader, .colorText, ol li {
    margin-bottom: 2vh;
}

.researchPage1 .text {
    margin-bottom: 4vh;
}

.researchPage1 ol {
    margin-left: 6vh;
}

.researchContainer {
    background-color: #88eaed;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    text-align: justify;
    height: 75vh;
    overflow-y: scroll;
    border-radius: 4vh;
}

.researchContainer .darkText {
    color: #001122;
    padding-bottom: 2vh;
}

.researchContainer  p {
    text-indent: -6vh;
    padding-left: 6vh;
}

.researchContainer::-webkit-scrollbar {
    width: 2vh;
    height: 0vh;
}

.researchContainer::-webkit-scrollbar-track {
    background: #ffffff00;
    width: 4vh;
    margin-block: 3vh;
}

.researchContainer::-webkit-scrollbar-thumb {
    background: #001122;
    border-radius: 1vh;
    height: 2vh;
    border: 0.5vh solid #88eaed;
    width: 4vh;
}

.researchContainer .paddedBox {
    padding: 10vh;
    padding-top: 6vh;
}

/* Research Paper */

.researchPaper {
    position: absolute;
    top: 1280%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.researchContainer .subHeader {
    color: #001122;
}

.researchPaper .header {
    position: absolute;
    top: 5%;
    left: 5%;
}

/* References Page */

.referencePage .header {
    position: absolute;
    top: 5%;
    left: 5%;
}

.referencePage {
    position: absolute;
    top: 1380%;
    left: 0%;
    height: 100%;
    width: 100%;
}

.referenceBox {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 75vh;
    background-color: #88eaed;
    border-radius: 4vh;
    text-align: justify;
    overflow: scroll;
    margin-bottom: 10vh;
    margin-right: 10vh;
    display: inline-block;
}

.referenceBox .subHeader {
    color: #001122;
    padding-bottom: 2vh;
}

.referenceBox  p {
    text-indent: -6vh;
    padding-left: 6vh;
}

.referenceBox .darkText {
    line-height: 6vh;
}

.referenceBox::-webkit-scrollbar {
    width: 2vh;
    height: 0vh;
}

.referenceBox::-webkit-scrollbar-track {
    background: #ffffff00;
    width: 4vh;
    margin-block: 3vh;
}

.referenceBox::-webkit-scrollbar-thumb {
    background: #001122;
    border-radius: 1vh;
    height: 2vh;
    border: 0.5vh solid #88eaed;
    width: 4vh;
}

.referenceBox .paddedBox {
    padding: 5vh;
    padding-top: 3vh;
}

/* Publicised Page */

.publicisedPage {
    position: absolute;
    top: 1480%;
    left: 0%;
    height: 200%;
    width: 100%;
}

.publicisedPage .header{
    position: absolute;
    top: 5%;
    left: 5%;
}

.ytVideo {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2vh;
    height: 73.2vh;
    width: 130vh;
}

.igContainer {
    position: absolute;
    top: 58%;
    left: 50%;
    width:max-content;
    transform: translateX(-50%);
}

.igPost1, .igPost2 {
    display: inline-block;
    margin-right: 5vh;
    margin-left: 5vh;
    width: 60vh;
}

/* Reflections Page */

.reflectionPage {
    position: absolute;
    top: 1680%;
    left: 0%;
    height: 300%;
    width: 100%;
    overflow: hidden;
    scrollbar-width: none;
}

.reflectionPage .header{
    position: absolute;
    top: 2.5%;
    left: 5%;
}

.reflectionContainer {
    overflow-x: scroll;
    position: absolute;
    width: 100%;
    top: 8%;
    left: 65%;
    transform: translateX(-50%);
}

.reflectionBox {
    width: 70%;
    height: 60vh;
    background-color: #88eaed;
    border-radius: 4vh;
    text-align: justify;
    overflow: scroll;
    margin-bottom: 10vh;
    margin-right: 10vh;
    display: inline-block;
}

.reflectionBox .subHeader {
    color: #001122;
    padding-bottom: 2vh;
}

.reflectionBox::-webkit-scrollbar {
    width: 2vh;
    height: 0vh;
}

.reflectionBox::-webkit-scrollbar-track {
    background: #ffffff00;
    width: 4vh;
    margin-block: 3vh;
}

.reflectionBox::-webkit-scrollbar-thumb {
    background: #001122;
    border-radius: 1vh;
    height: 2vh;
    border: 0.5vh solid #88eaed;
    width: 4vh;
}

.reflectionBox .paddedBox {
    padding: 5vh;
    padding-top: 3vh;
}

#box7 {
    z-index: -10;
    position: absolute;
    top: 30%;
    left: 3%;
}

#box8 {
    z-index: -10;
    position: absolute;
    top: 90%;
    left: 3%;
}

#box9 {
    z-index: -10;
    position: absolute;
    top: 70%;
    right: 10vh;
}